html{
    font-size: 40px
}

body{
    background-image: url(../images/Gogettta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center fixed;
    background-attachment: local;
}

body.bg-gallery{
    background-image: url(../images/kame-house.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center fixed;
    background-attachment: scroll;
}

body.bg-contact{
    background-image: url(../images/goku-and-vegeta.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center fixed;
    background-attachment: scroll;
}

body.bg-bio{
    background-image: url(../images/goku-and-dragon-ball-zu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center fixed;
    background-attachment: scroll;
}

h1 { /*Home Page Title*/
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-size: 130px;
    padding-top: 500px;
    margin-top: 50px;
    margin-bottom: -4%;
    text-align: center;
}

h2 { /*Page Titles*/
    font-family: "Ephesis", cursive;
    font-weight: 500;
    font-size: 200px;
    font-style: normal;
    text-align: center;
}

h3{ /*Gallery Image Titles*/
    font-weight: 500;
    font-style: italic;
    font-size: 45px;
    margin: 10px;
}

h4 { /*Home Page Paragraph Heading*/
    font-family: "Ephesis", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 150px;
    margin-bottom: -5%;
    padding-left: 25px;
    justify-content: relative;
}

p{ /*Bio & Gallery Paragraphs*/
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

a{ /*Navigation Links*/
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-family: "Ephesis", cursive;
}

nav{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-menu{ /*Navigation for home page*/
    margin: 0;
    padding-bottom: 270px;
    list-style: none;
    display: flex;
    text-align: center;
}

.header-menu-item{ /*Navigation Menu Items*/
    margin: 0;
    padding: 25px;

}

.header-nav-menu2{ /*Navigation for bio, contact, gallery*/
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: #f2f2f215;
    text-align: center;
    width: 100%;
    justify-content: center;
}

/* Gallery Layout */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.multi-column-container{ /*Three Column Gallery Layout*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.three-column-item{ /*Individual Gallery Items*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    border-radius: 15px;
    color: rgb(41, 95, 175);
    width: 0 auto;
    margin: 20px;
}

.three-column-item img:hover { /*Image Hover Effect*/
    transform: scale(1.8);
    transition: transform 0.5s ease;
    border-radius: 15px; 
}

.img-thumbnail{ /*Gallery Image Styling*/
    border-radius: 15px;
    box-shadow: 1px 3px 20px 5px rgba(0, 0, 0, 0.534);
}

/* Contact Form */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;            /* Rounded corners */
    padding: 30px;
    gap: 30px;
}
input{
    width: 400px;           /* Sets the width */
    height: 30px;           /* Sets the height */
    padding: 10px;          /* Adds internal spacing */
    font-size: 30px;        /* Adjusts the text size */
    border: none;           /* No border */
    border-radius: 5px;     /* Rounded corners */
    cursor: pointer;
}
textarea {
    width: 400px;   /* Sets the width */
    height: 250px;  /* Sets the height */
    padding: 15px;  /* Adds internal spacing */
    font-size: 30px; /* Adjusts the text size */
    border: none;              /* No border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;  
}
button {
    background-color: #6f90fc; /* Button background color */
    color: rgb(255, 255, 255); /* Text color */
    padding: 20px 90px;       /* Padding */
    margin-bottom: 10%;
    border: none;              /* No border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
}

footer{
    text-align: center;
    font-size:20px;
    position: relative;
    width: 100%;
}