html{
    font-size: 40px
}

body{
    background-image: url(../images/Gogettta.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center fixed;
    background-attachment: fixed;
    font-family: "Ephesis", cursive;
}

a{
    text-decoration: none;
    color: black;
    font-size: 60px;
}

h1 {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 120px;
}

h2 {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 200px;
}

h3{
    font-size: 40;
}

p{
  font-weight: 500;
  font-style: normal;
  font-size: 120px;  
}


.header-nav-menu{
    margin: 0;
    padding: 80px;
    display:contents
}

.header-menu-item{
    margin: 0;
    padding: 25px;
}

.header-nav-menu2{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex;
}

/* Gallery Layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.multi-column-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
}

.three-column-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 15px;
    color: rgb(41, 95, 175);
    width: 0 auto;
    margin: 20px;
    background-color: white;
}

.three-column-item h2{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.three-column-item img{
    border-radius: 15px;
}

.three-column-item img:hover {
    transform: scale(1.8);
    transition: transform 0.5s ease;
    border-radius: 15px; 
}

.img-thumbnail{
    border-radius: 15px;
    box-shadow: 2px 2px 8px 3px black;
}

.thumb img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumb img:hover {
  transform: scale(1.05);
}


/* Contact Form */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f2f2f218;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input{
    width: 400px;   /* Sets the width */
    height: 30px;   /* Sets the height */
    padding: 10px;  /* Adds internal spacing */
    font-size: 25px; /* Adjusts the text size */
    border: none;              /* No border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;  
}
textarea {
  width: 400px;   /* Sets the width */
  height: 250px;  /* Sets the height */
  padding: 15px;  /* Adds internal spacing */
  font-size: 25px; /* Adjusts the text size */
  border: none;              /* No border */
  border-radius: 5px;        /* Rounded corners */
  cursor: pointer;  
}
button {
  background-color: #6f90fc; /* Green background */
  color: rgb(255, 255, 255);               /* White text */
  padding: 10px 90px;        /* Padding */
  border: none;              /* No border */
  border-radius: 5px;        /* Rounded corners */
  cursor: pointer;           /* Pointer cursor on hover */
    
}