html{
    font-size: 40px
}

body{
    background-image: url(../images/Gogettta.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center auto;
    background-attachment: fixed;
}

h1 {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

.header-menu-item{
    margin: 0;
    padding: 25px;
    color:rgb(80, 145, 201)
}

.header-nav-menu{
    margin: 0;
    padding: 80px;
    display:contents
}