html{
    font-size: 40px
}

body{
    background-image:
    linear-gradient(
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    ),
    url(../images/Gogettta.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body.bg-gallery{
    background-image:
    linear-gradient(
        rgba(255,255,255,0.4),
        rgba(255,255,255,0.4)
    ), 
    url(../images/kame-house.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body.bg-bio{
    background-image: 
        linear-gradient(
        rgba(255,255,255,0.4),
        rgba(255,255,255,0.4)
    ),
    url(../images/namek.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
body.bg-contact{
    background-image: 
        linear-gradient(
        rgba(255,255,255,0.4),
        rgba(255, 255, 255, 0.4)
    ),
    url(../images/db-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

h1 { /*Home Page Title*/
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-size: 200px;
    padding-top: 500px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2 { /*Bio & Gallery Page Titles*/
    font-family: "Ephesis", cursive;
    font-weight: 500;
    font-size: 200px;
    font-style: normal;
    text-align: center;
    margin-bottom: 115px;
}

h3{ /*Gallery Image Titles*/
    font-weight: 500;
    font-style: italic;
    font-size: 35px;
    margin: 10px;
}

h4 { /*Home Page Paragraph Heading*/
    font-family: "Ephesis", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 150px;
    margin-bottom: -5%;
    padding-left: 25px;
    justify-content: center;
}

h5 { /*Contact Page Headings*/
    font-family: "Ephesis", cursive;
    font-weight: 500;
    font-size: 200px;
    font-style: normal;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 0px;
}

.bio-paragraphs{ /*Bio & Gallery Paragraphs*/
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

nav{  /*Navigation Bar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

a{ /*Navigation Links*/
    text-decoration: none;
    color: black;
    font-size: 60px;
    font-family: "Ephesis", cursive;
}

.header-nav-menu{     /*Navigation for Home Page*/
    display: flex;
    list-style: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 370px;
    padding-left: 0;
}

.header-nav-menu2{     /*Navigation for Bio, Contact, Gallery*/
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1px;
    background-color: #f2f2f215;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.header-menu-item{      /*Navigation Menu Items*/
    margin: 0;
    padding: 25px;
    padding-top: 0px;
    justify-content: center;

}
.header-menu-item2{      /*Navigation Menu Items for Bio, Contact, Gallery*/
    margin-top: 0;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style: none;
}

.pic-ctn{
    width: 100vw;
    height: 200px;
}


@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10vh auto 600px;
  padding-bottom: 350px;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  animation: display 22s infinite;
  display: flex;
  justify-content: center;
  height: 900px;
  width: 800px;
}

img:nth-child(2) {
  animation-delay: 4s;
}
img:nth-child(3) {
  animation-delay: 8s;
}
img:nth-child(4) {
  animation-delay: 12s;
}
img:nth-child(5) {
  animation-delay: 16s;
}
img:nth-child(6) {
  animation-delay: 20s;
}










.multi-column-container{ /*Three Column Gallery Layout*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery-row{ /*Individual Gallery Items*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    color: rgb(0, 0, 0);
    width: auto;
}

.gallery-row img:hover { /*Image Hover Effect*/
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.img-thumbnail{ /*Gallery Image Styling*/
    box-shadow: 1px 3px 20px 5px rgba(0, 0, 0, 0.534);
}

/* Hide the actual checkbox input */
.popover-status {
    display: none;
}

/* Style the original thumbnail image */
.thumbnail {
    height: 400px;
    width: 300px;
    cursor: pointer;
    padding: 15px;
}

/* Style the pop-up content container */
.popover-content {
    display: none; /* Hide the pop-up initially */
    position: fixed; /* Position over everything else */
    z-index: 1000; /* Ensure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Dark overlay */
    justify-content: center; /* Center the pop-up */
    align-items: center;
    cursor: pointer; /* Allows clicking overlay to close */
}

.popover-content img { /* Style the image inside the pop-up */
    display: block;
    transform: none!important;
}

/* Show the pop-up when its corresponding checkbox is checked */
.popover-status:checked + .popover-trigger .popover-content {
    display: flex;
    transform: scale(1.0);
    background-attachment: fixed;
}

.bio-container { /* Bio Page Container */
    background-color: #f2f2f23f; /* Semi-transparent background */
    border-radius: 15px;          /* Rounded corners */
    padding: 30px;
    margin: 50px auto;
    max-width: 90%;
}

.contact-container { /* Contact Page Container */
    background-color: #f2f2f23f; /* Semi-transparent background */
    border-radius: 15px;          /* Rounded corners */
    max-width: fit-content;
    max-height: fit-content;
    margin: 50px auto;
    padding: 30px;
}

.contact-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: disc;
    list-style-position: inside;
    margin: 0px auto;
    margin-bottom: 170px;
}

p.contact-intro {
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 200px;
}

/* Contact Form */
form{
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack form rows vertically */
    justify-content: center; /* Center the form */
    align-items: center; /* Center the form */
    padding: 30px; /* Padding around the form */
    gap: 30px; /* Space between form rows */
}

input{
    width: 100%;           /* Sets the width */
    font-size: 50px;        /* Adjusts the text size */
    border: none;           /* No border */
    border-bottom: 1px solid black; /* Bottom border only */
    cursor: pointer;
    color: #113cc9; /* Text color */
    background-color: transparent;
    outline: none;
    font-style: italic;
}
textarea {
    width: 100%;           /* Sets the width */
    font-size: 52px;        /* Adjusts the text size */
    border: none;           /* No border */
    border-bottom: 1px solid black; /* Bottom border only */
    cursor: pointer;
    color: #113cc9; /* Text color */
    background-color: transparent;
    outline: none;
    font-style: italic;
}

button {
    max-width: 100%;           /* Sets the width */
    background-color: #113cc9; /* Button background color */
    color: rgb(255, 255, 255);              /* Button text color */
    font-size: 18px;         /* Text size */
    text-align: center;
    padding: 30px 200px 30px 200px;     /* Padding */
    border: none;              /* No border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    justify-content: center;
}

footer{
    text-align: center;
    font-size:20px;
    position: relative;
    width: 100%;
}
